@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: rgb(114, 32, 207);
    text-align: left;
}

body{
    background-color: #7375e4;
}


.container {

    height: 100vh;
    width: 100vw;
    /* background-image: url(Gradiant.jpg); */

    /* background: linear-gradient(180deg, rgba(2,0,36,1) 0%,rgb(10, 13, 97) 20%, rgb(76, 76, 195) 50%); */
    /*
    display: flex;
    justify-content: center;
    align-items: center;
    */
}



.form-box {

    width: 90vw;
    max-width: 430px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffff;
    text-align: center;
    box-shadow: 5px 5px #38383880;
    border-radius: 1em;
    /* box-shadow: 0 0 5px 0;
    background:fixed;
    backdrop-filter:blur(10px) ; */

}

.form-box h1 {
    font-size: 2em;
    margin-bottom: 2em;
    margin-top: 0.5em;
    position: relative;
    font-family: 'montserrat',sans-serif;
    font-weight: 500;
    /* color: rgb(114, 32, 207); */


}


.form-box h1::after {

    content: '';
    width: 30px;
    height: 4px;
    border-radius: 5px;
    background: rgb(114, 32, 207);
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
}

.input-field {
    background: #eaeaea;
    width: 80%;
    margin: 20px 0;
    margin-left: 2.7em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    /* border: 2px solid  black; */
    /* background: inherit; */

}

.margin {
    margin-left: 1em;
}

.radio {
    width: 50%;
    display: flex;

}

input {
    width: 60%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;

}

.input-field i {
    margin-left: 15px;
    color: rgba(10, 10, 10, 0.826);
}


form p {
    text-align: left;
    margin-left: 2.8em;
    font-weight: 500;
    font-family: 'Mukta', Times, serif;
}

.btn-form {
    margin-top: 18px;
    margin-bottom: 18px;

}

.btn {
    width: 30%;
    font-size: 15px;
    padding: 0.6em;
    border: 2px solid black;
    border-radius: 1em;
    background-color: rgb(0, 0, 160);
    color: white;
    cursor: pointer;
    font-family: 'Mukta',sans-serif;
    /* background: inherit; */
}

.btn-form .disable {

    background-color: #eaeaea;
    border: 1px solid rgb(114, 32, 207);
    color: #252525;

}

.btn:hover {
    background-color: #7375e4;
    border: 1px solid rgb(114, 32, 207);
    color: #252525;
}

.width {
    padding: 10px;
}

input[type="radio"] label {
    color: rgb(111, 107, 107);


}

.label {
    color: rgb(11, 11, 11);
    margin: 8px;
    font-family: 'Mukta',sans-serif;
}
.label1{
    font-family: 'Mukta',sans-serif;
}

.role {
    margin-left: 1.3em;
    font-family: 'Mukta',sans-serif;
}

.n-register {
    margin-left: 8em;
    font-family: 'Mukta', sans-serif;
}