*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: rgb(114, 32, 207);
}




.container{

    height: 100vh;
    width: 100vw;
    /* background: linear-gradient(180deg, rgba(2,0,36,1) 0%,rgb(10, 13, 97) 20%, rgb(76, 76, 195) 50%); */
    background-image: url(Gradiant.jpg);
    
    /*
    display: flex;
    justify-content: center;
    align-items: center;
    */
}



.form-box{

    width: 90vw;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #ffff;
    text-align: center;
    box-shadow: 5px 5px #38383880;
    border-radius: 1em;
    

}

.form-box h1 {
    font-size: 2em;
    margin-bottom: 2em;
    margin-top: 0.5em;
    position: relative;
    color: rgb(114, 32, 207);

}


.form-box h1::after{

    content: '';
    width: 30px;
    height: 4px;
    border-radius: 5px;
    background: rgb(114, 32, 207);
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
}

.input-field{
    background: #eaeaea;
    width: 80%;
    margin: 18px 0;
    margin-left: 2.7em;
    border-radius: 3px;
    display: flex;
    align-items: center;

}

input{
    width: 60%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field i {
    margin-left: 15px;
    color: rgba(10, 10, 10, 0.826);
}

/*
form p{
    text-align: left;
    font-size: 20px;
}
*/

form p{
    text-align: left;
    margin-left: 2.7em;
}

.btn-form{
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn{
    width: 30%;
    font-size: 15px;
    padding: 0.6em;
    border: 2px solid  white;
    border-radius: 1em;
    background-color: rgb(0, 0, 160);
    color: white;
    cursor: pointer;
}

.btn-form .disable{

    background-color: #eaeaea;
    border: 1px solid  rgb(114, 32, 207);
    color:#252525;

}

.btn:hover{
    background-color: #7375e4;
    border: 1px solid  rgb(114, 32, 207);
    color:#252525;

}

select{
     background: #eaeaea;
    width: 80%;
    margin: 18px 0;
    margin-left: 1.1em;
    border-radius: 3px;
    display: flex;
    align-items: center;
    border: none;
    color: rgb(111, 107, 107);
}